* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    font-family: Roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;
    min-height: 100vh;

}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: #1992d4;
    padding: 16px;
    color: white;
}

.sidebar > div:first-child {
    font-size: 1.5rem;
    margin-bottom: 32px;
}

.icon-and-label {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-auto-rows: auto;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 8px;
    column-gap: 8px;
    align-items: center;
}

.icon-and-label > img {
    justify-self: center;
}

.icon-and-label:hover {
    background-color: #196ad4;
}

.sidebar > .sub-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
}

.sidebar > .sub-links {
    display: grid;
    grid-template-columns: 1fr;
}

.header {
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 16px;
}

.header-top {
    display: grid;
    grid-template-columns: min-content minmax(min-content, 544px) 1fr min-content auto;
    gap: 32px;
    align-items: center;
}

.header-top > #search-bar {
    background-color: #e2e8f0;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    padding: 8px 16px;
    margin-right: 64px;
}

.header-top > .user-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    padding: 16px;
    border-radius: 8px;
}

.user-wrapper:hover {
    background-color: rgb(236, 236, 236);
}

.header-bottom {
    display: grid;
    grid-template-columns: auto 1fr minmax(min-content, 160px) minmax(min-content, 160px) minmax(min-content, 160px);
    grid-template-rows: 1fr;
    gap: 16px;
    align-items: center;
}

.header-bottom > .user-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    padding: 16px;
    border-radius: 8px;
}

.header-bottom > .user-wrapper > .greeting > p:first-child {
    padding-bottom: 4px;
}

.header-bottom > .user-wrapper > .greeting > p:last-child {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-bottom > button {
    padding: 8px 32px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #1992d4;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.header-bottom > button:hover {
    background-color: #196ad4;
}

.main {
    padding: 32px 16px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
    box-shadow: inset 0 4px 2px -2px rgb(0 0 0 / 15%);
}

.projects-container {
    height: 100%;
}

.projects-container > h2 {
    margin-bottom: 12px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
    gap: 16px;
    /* max-height: calc(100% - 40px); */
}

.cards-container .card {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    border-left: 8px solid #ff9100;
}

.cards-container .card > h3 {
    align-self: flex-end;
}

.cards-container .card > p {
    color: #636363;
    padding-bottom: 32px;
}

.cards-container > .card > .card-footer{
    align-items: flex-end;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: 8px;
}

.main-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 32px;
    min-width: 320px;
    max-width: 480px;
}

.announcements-main > h2 {
    margin-bottom: 12px;
}

.announcements-container {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.announcement:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 32px;
}

.announcement:not(:first-child) {
    padding-top: 32px;
}

.announcement > p {
    color: #636363;
}

.trending-main > h2 {
    margin-bottom: 12px;
}

.trending-container {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.trending-container .user {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    padding: 16px;
    border-radius: 8px;
}

.trending-container .user .user-info > p:last-child {
    color: #636363;
}

.trending-container .user:hover {
    background-color: rgb(236, 236, 236);
}

.search-icon,
.notification-icon,
.card-icon {
    display: contents;
    cursor: pointer;
}

.search-icon > img:hover,
.notification-icon > img:hover,
.card-icon > img:hover {
    opacity: 0.5;
}

img[alt='dashboard'],
.user-icon > img {
    width: 48px;
    height: 48px;
}

.sub-links > .icon-and-label > img,
.search-icon > img,
.notification-icon > img, 
.card-icon > img {
    width: 24px;
    height: 24px;
}
